<h2>Recent Work</h2>
<div class="row">
  <article class="col-6 col-12-xsmall work-item">
    <a href="../../../assets/images/fulls/01.jpg" class="image fit thumb"><img src="../../../assets/images/thumbs/01.jpg"
        alt="" /></a>
    <h3>coming soon</h3>
    <p>application in progress.</p>
  </article>
  <article class="col-6 col-12-xsmall work-item">
    <a href="../../../assets/images/fulls/02.jpg" class="image fit thumb"><img src="../../../assets/images/thumbs/02.jpg"
        alt="" /></a>
    <h3>coming soon</h3>
    <p>application in progress.</p>
  </article>
</div>

